.fontHotel {
    font-family: var(--font-grand-hotel), sans-serif; /* Use Grand Hotel font */
  }
  
  .fontRozha {
    font-family: var(--font-rozha-one), serif; /* Use Rozha One font */
  }
  
  .fontPopins {
    font-family: var(--font-poppins), sans-serif; /* Use Poppins font */
  }
  